*{
	box-sizing: border-box;
}
body{
	width: 100%;
	max-width: 1900px;
  min-width: 1024px;
  margin: 0 auto;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	opacity: 0.6;
}
/***********HEADER*********/
/****MENU&NAV*****/
.main-header{
	background: url(img/header.png) 100% 100% no-repeat;
	width: 100%;
  height: 750px;
	max-width: 1900px;
  margin: 0 auto;
	text-align: center;
}
.main-menu{
	width: 95%;
  padding-top: 27.4px;
  margin: 0 auto;
}
.main-logo{
	display: inline-block;
  vertical-align: middle;
  width: 26%;
  text-align: right;
  padding-top: 11px;
}
.main-nav{
	float: right;
  list-style: none;
  width: 70%;
  text-align: center;
}
.main-nav li{
	display: inline-block;
  font-size: 13px;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.749);
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: top;
	padding-right: 4.5%;
}
.main-nav li:last-child{
	padding: 0;
}
.main-menu:after{
  content: '';
  display: block;
  clear: both;
  height: 0.5px;
  width: 64.9%;
  margin: 36px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
}
/****INFO****/
header .main-info{
  width: 95%;
  margin: 7.5% auto 0 auto;
}
header .main-info .main-description{
  width: 57%;
  min-width: 1000px;
  margin: 0 auto;
  font-size: 65px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.092;
  text-align: center;
}
header .main-info .description{
  width: 52.7%;
  min-width: 700px;
  margin: 1.2% auto 0 auto;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}
header .main-info .main-button{
  margin-top: 4.2%;
  background-color: #d45350;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 200px;
  height: 46px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

/*********SECTION.ABOUT**********/
.about{
  margin-top: 6.4%;
}
.about ul{
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 81.5%;
}
.about_item{
  display: inline-block;
  padding: 0 30px 58px 30px;
  width: 32.9%;
  max-width: 388px;
  min-width: 275px;
  font-size: 14px;
  font-family: "Raleway";
}
.about_item_name {
  font-size: inherit;
  color: rgb(45, 48, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.about_item_description {
  margin-top: 18.5px;
  color: rgb(108, 114, 121);
  line-height: 1.5;
  text-align: center;
}
.about_item:first-child:before{
  content: '';
  margin: 0 auto 29px auto;
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 60px;
  height: 60px;
  background-position: -160px -75px;
}
.about_item:nth-child(2):before{
  content: '';
  margin: 0 auto 29px auto;
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 73px;
  height: 60px;
  background-position: -87px -5px;
}
.about_item:nth-child(3):before{
  content: '';
  margin: 0 auto 29px auto;
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 41px;
  height: 60px;
  background-position: -170px -5px;  
}
.about_item:nth-child(4):before{
  content: '';
  margin: 0 auto 29px auto;
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 56px;
  height: 60px;
  background-position: -94px -75px;
}
.about_item:nth-child(5):before{
  content: '';
  margin: 0 auto 29px auto;
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 72px;
  height: 60px;
  background-position: -5px -5px;
}
.about_item:last-child:before{
  content: '';
  margin: 0 auto 29px auto;
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 79px;
  height: 60px;
  background-position: -5px -75px;
}

/**********SECTION.WORKS**********/
.works{
  margin-top: 52px;
}
.works ul{
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.works ul .work{
  display: inline-block;
  width: 24.6%;
  margin: 0;
}
.works ul .work:nth-child(4){
  margin-right: 0;
}
.works .work img{
  width: 100%;
  height: 100%;
}

/********FOOTER********/
body>footer{
  text-align: center;
}
footer .container{
  background-color: #3a3e64;
}
footer .location, footer .social, footer .last-about{
  display: inline-block;
  width: 20.27%;
  font-size: 14px;
  font-family: "Raleway";
  vertical-align: top;
  margin-top: 64px;
  margin-bottom: 40px;
}
footer .container h3{
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.2; 
}
footer .container p{
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.607;
  text-align: center;
}
footer .container .social ul{
  text-align: center;
  padding: 0;
}
footer .container .social li{
  display: inline-block;
  margin-top: 5px;
  width: 40px;
  height: 40px; 
  border: 2px solid white;
  border-radius: 2px;
  vertical-align: middle;
  padding-top: 8px;
}
footer .container .social li:hover{
  opacity: 0.4;
  cursor: pointer;
}
footer .container .social .sprite{
  background-image: url(img/spritesheetsocial.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.sprite-facebook{
   width: 8px;
   height: 18px;
   background-position: -5px -5px;
}
.sprite-linkedin{
   width: 16px;
   height: 16px;
   background-position: -23px -5px;
}
.sprite-twitter{
  width: 20px;
  height: 14px;
  background-position: -49px -5px;
}
footer .copyright{
  background-color: #313454;
  color: rgb(128, 128, 128);
  line-height: 1.607;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .copyright span{
  color: rgba(255, 255, 255, 0.8);
}
